<!DOCTYPE html>
<html>
<title>scrawl</title>
<head>
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="static/js/paper.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('event');
        });
    </script>
</head>
<body>
    <canvas id="draw" resize="true"></canvas>
    <script type="text/paperscript" src="static/js/draw.js" canvas="draw"></script>
</head>
</html>
